﻿@inherits LayoutComponentBase

<PageTitle>eComEngine Email Template</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/jaiteretuya/" target="_blank">About Me</a>            
            <a href="https://blazor-university.com/overview/what-is-blazor/" target="_blank">About Blazor</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
