﻿<!-- #region C#  -->
@code {
    [Parameter] public int CurrentPage { get; set; } = 1;
    [Parameter] public int TotalPages { get; set; }
    [Parameter] public int TotalQuantity { get; set; }
    [Parameter] public int Radius { get; set; } = 5;
    [Parameter] public EventCallback<int> SelectedPage { get; set; }
    List<LinkModel> links = new List<LinkModel>();

    class LinkModel
    {
        public string Text{ get; set; }
        public int Page{ get; set; }
        public bool Enabled { get; set; } = true;
        public bool Active { get; set; } = false;

        public LinkModel(int page) : this(page, true) { }

        public LinkModel(int page, bool enabled) : this(page, enabled, $"{page}"){}

        public LinkModel(int page, bool enabled, string text)
        {
            Page = page;
            Enabled = enabled;
            Text = text;
        }
    }

    protected override void OnParametersSet()
    {
        LoadPages();
    }

    private void LoadPages()
    {
        links = new List<LinkModel>();

        var isPrevPageLinkEnabled = CurrentPage == 0 ? false : CurrentPage != 1;
        var prevPage = CurrentPage - 1;
        links.Add(new LinkModel(prevPage, isPrevPageLinkEnabled, "PREV"));

        for(int i = 1; i <= TotalPages; i++)
        {
            if(i >= CurrentPage - Radius && i <= CurrentPage + Radius)
            {
                links.Add(new LinkModel(i) { Active = CurrentPage == i});
            }
        }

        if(!isPrevPageLinkEnabled && links.Count > 1 )
        {
            links[1].Active = true;
            links[1].Enabled = true;
        }

        var isNextPageLinkEnabled = CurrentPage != TotalPages;
        var nextPage = CurrentPage + 1;
        links.Add(new LinkModel(nextPage, isNextPageLinkEnabled, "NEXT"));
    }

    private async Task SelectedPageInternal(LinkModel link)
    {
        if(link.Page == CurrentPage || !link.Enabled)
        {
            return;
        }    

        CurrentPage = link.Page;
        await SelectedPage.InvokeAsync(link.Page);
    }

    
}
<!-- #endregion -->

<!-- #region HTML-->
<div class="row">
    <div class="col-md-8">
        <nav aria-label="Page Navigation">    
            <ul class="pagination justify-content-left">
                @{
                    foreach(var link in links)
                    {
                        <li @onclick="@(() => SelectedPageInternal(link))"
                            style="cursor: pointer;" class="page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)">
                            <span class="page-link" href="#">@link.Text</span>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
    <div class="col-md-4" style="text-align:right">        
        <h5>Tempates Found: <span class="text-success"><b>@TotalQuantity</b></span></h5>
    </div>
</div>


<!-- #endregion -->