﻿<!-- #region C#  -->
@page "/EmailTemplates/XML"

@using eComEngine.Domain.Entities;
@using eComEngine.Application.Interfaces;
@using eComEngine.Application.Models;
@using eComEngine.Application.Models.Dto;

@inject IEmailTemplateService _templateService;

@code {
    private int totalPages;
    private int totalQuantity;
    private int currentPage;
    private string currentSort = "el-asc"; 
    private string searchByFilter = "";    

    Dictionary<string, Action> dictPreferredSort = new();
    private string sortIndex ="el-asc"; 
    private string PreferredSort
    {
        get
        { 
            currentSort = sortIndex; 
            return sortIndex; 
        }
        set
        {
            sortIndex = value;
            dictPreferredSort[sortIndex]();
        }
    }

    private DataResponseDto dataResponse = new();
    private IEnumerable<EmailTemplate>? emailTemplates;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadEmailTemplates();
    }

    async Task LoadEmailTemplates(int page = 1, int quantityPerPage = 10, string sortBy = "el-asc", string searchBy = "")
    {        
        dataResponse = await _templateService.GetTemplatesAsync($"api/EmailTemplates/GetPaginatedList", 
                        new DataFilterDto
                        {
                            Pagination = new PaginationDto
                            {
                                Page = page, 
                                QuantityPerPage = quantityPerPage
                            },
                            SortBy = sortBy,
                            SearchBy = searchBy
                        }
        );            

        if(dataResponse != null)
        {
            totalPages = dataResponse.TotalPages;
            totalQuantity = dataResponse.TotalTemplateCount;
            emailTemplates = dataResponse.EmailTemplates;

            if(emailTemplates != null)
            {
                dictPreferredSort = new Dictionary<string, Action>
                {
                    ["el-asc"] = () => emailTemplates = emailTemplates.OrderBy(_ => _.EmailLabel).ToArray(),  
                    ["el-desc"] = () => emailTemplates = emailTemplates.OrderByDescending(_ => _.EmailLabel).ToArray(),  
                    ["fa-asc"] = () => emailTemplates = emailTemplates.OrderBy(_ => _.FromAddress).ToArray(),  
                    ["fa-desc"] = () => emailTemplates = emailTemplates.OrderByDescending(_ => _.FromAddress).ToArray(),  
                    ["du-asc"] = () => emailTemplates = emailTemplates.OrderBy(_ => _.DateUpdated).ToArray(),  
                    ["du-desc"] = () => emailTemplates = emailTemplates.OrderByDescending(_ => _.DateUpdated).ToArray()
                };
            }
        }                 
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadEmailTemplates(page, 10, currentSort, searchByFilter);
    } 

    private async Task Filter()
    {        
        if(!string.IsNullOrWhiteSpace(searchByFilter))
        {
            currentPage = 1;
            await LoadEmailTemplates(1, 10, currentSort, searchByFilter);
        }        
    }  

    private async Task Clear()
    {
        if(!string.IsNullOrWhiteSpace(searchByFilter))
        {
            searchByFilter = string.Empty;
            currentPage = 1;
            await LoadEmailTemplates(1, 10, currentSort, searchByFilter);
        }        
    } 

    EmailTemplateRevisions card = new();
    public void DisplayTemplateRevisions(MouseEventArgs args, string templateId)
    {
        card.Show(args, templateId);
    }
}
<!-- #endregion-->

<!-- #region HTML  -->
<PageTitle>Email Templates (XML)</PageTitle>

<h2>Email Templates</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <label for="selectSortBy">Sort By:</label> 
        <select id="selectSortBy" class="form-control" @bind="PreferredSort">
            <option value="el-asc">[Email Label] By Ascending Order</option>
            <option value="el-desc">[Email Label] By Descending Order</option>
            <option value="fa-asc">[From Address] By Ascending Order</option>
            <option value="fa-desc">[From Address] By Descending Order</option>
            <option value="du-asc">[Date Updated] By Ascending Order</option>
            <option value="du-desc">[Date Updated] By Descending Order</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="filter-name" class="sr-only">Filter By: </label> 
            <input type="text" class="form-control mb-2 mr-sm-2"
            @bind="searchByFilter" />                 
    </div>
    <div class="col-md-4"> 
        <br/>
        <button type="button" class="btn btn-primary btn-success mb-2"
        @onclick="Filter">Filter</button>
        <button type="button" class="btn btn-danger mb-2"
        @onclick="Clear">Clear</button>
    </div>
             
</div>
<hr/>

@if (emailTemplates == null)
{
    <p><em>Loading email templates ...</em></p>
}
else
{
    if(emailTemplates.Any())
    {                        
        <table class="templateTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Email Label</th>
                    <th>From Address</th>
                    <th>Date Updated</th>                    
                </tr>
            </thead>
            <tbody>
                @if(emailTemplates.Any())
                {
                    @foreach (var template in emailTemplates)
                    {
                        var ttLabel = $"Subject: {@template.Subject} | Text: {@template.TemplateText}";
                        <tr>
                            <td class="text-center">                                
                                <button title="Double-click to view template versions" class="btn btn-secondary" @onclick="(args) => DisplayTemplateRevisions(args, template.Id.ToString())">
                                    <span class="oi oi-list-rich"></span>
                                </button>
                            </td>
                            <td><span title="@ttLabel">@template.EmailLabel</span></td>
                            <td><a href="mailto:@template.FromAddress">@template.FromAddress</a></td>
                            <td>@template.DateUpdated</td> 
                            
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-warning"><span>No email templates found.</span></td>
                    </tr>
                }

            </tbody>
        </table>        
    }
    else
    {
        <table class="templateTable">
            <thead>
                <tr>
                    <th>Email Label</th>
                    <th>From Address</th>
                    <th>Date Updated</th> 
                    <th></th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" class="text-warning"><span>No email templates found.</span></td>
                </tr>
            </tbody>
        </table>
    } 
    
    <hr/>

    <Pagination TotalPages="totalPages" TotalQuantity="totalQuantity" CurrentPage="currentPage" Radius="2" SelectedPage="SelectedPage"></Pagination>

    <EmailTemplateRevisions @ref="card" Title="Template Revision History" FadeMs=500 Width="350px" Height="auto">
        Retrieving loading revisions ...
    </EmailTemplateRevisions>
}

<!-- #endregion-->
