﻿<!-- #region C#  -->
@using eComEngine.Domain.Entities;
@using eComEngine.Application.Interfaces;
@using eComEngine.Application.Models;
@using eComEngine.Application.Models.Dto;

@inject IEmailTemplateService _templateService;

@code {
    [Parameter] public RenderFragment ChildContent{ get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClose{ get; set; }
    [Parameter] public int HorizontalOffset { get; set; }
    [Parameter] public int VerticalOffset { get; set; }

    private bool Visible { get; set; }
    private double Opacity { get; set; }

    [Parameter] public string Title { get; set; } = "Template Revision History";
    [Parameter] public string Width { get; set; } = "400px";
    [Parameter] public string Height { get; set; } = "300px";
    [Parameter] public int FadeMs { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task Close(MouseEventArgs args = null)
    {
        Visible = false;
        await OnClose.InvokeAsync(args);
    }

    public async Task Show(MouseEventArgs args = null, string templateId = "")
    {        
        if(args !=null)
        {
            HorizontalOffset = (int)(args.ClientX);
            VerticalOffset = (int)(args.ClientY);
        }                

        await RetrieveTemplateRevisions(templateId);

        if(revisionTemplates != null)
        {
            Visible = true;
            Opacity = 1.0;
        }
    }

    private DataResponseDto dataResponse;
    private IEnumerable<EmailTemplate>? revisionTemplates;
    private int totalQuantity;    

    async Task RetrieveTemplateRevisions(string templateId)
    {        
        dataResponse = await _templateService.GetRevisionsAsync($"api/EmailTemplates/GetRevisionList", new RevisionFilterDto { Id = templateId });            

        if(dataResponse != null)
        {            
            totalQuantity = dataResponse.TotalTemplateCount;
            revisionTemplates = dataResponse.EmailTemplates;            
        }                 
    }
}

<!-- #endregion C#  -->

@if(Visible)
{    
    <div class="modalBackground" @onclick="Close">
        <div class="modalPopup" @onclick:stopPropagation="true" style="@($"opacity:{Opacity}; left:{HorizontalOffset}px; top:{VerticalOffset}px")">
             <div class="card rounded" style="width:800px;height:300px;">
                 <div class="card-body">
                     <h4 class="card-title">Template Revisions</h4>
                     <p class="card-text">
                         @if(revisionTemplates == null)
                         {
                             @ChildContent
                         }
                         else
                         {
                             <table class="templateTable">
                                <thead>
                                    <tr>                                        
                                        <th>Email Label</th>
                                        <th>From Address</th>
                                        <th>Date Updated</th>                    
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(revisionTemplates.Any())
                                    {
                                        @foreach (var template in revisionTemplates)
                                        {
                                            var ttLabel = $"Subject: {@template.Subject} | Text: {@template.TemplateText}";
                                            <tr>                                                
                                                <td><span title="@ttLabel">@template.EmailLabel</span></td>
                                                <td><a href="mailto:@template.FromAddress">@template.FromAddress</a></td>
                                                <td>@template.DateUpdated</td> 
                            
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3" class="text-warning"><span>No revisions found.</span></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>  
                         }                                                  
                     </p>
                     <div class="row">
                         <div class="col-md-6"></div>
                         <div class="col-md-6" style="text-align:right">
                             <button @onclick="Close" class="btn btn-danger">
                                 Close
                             </button>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
}


