﻿<!-- #region C#  -->
@page "/EmailTemplates/GRID"

@using eComEngine.Domain.Entities;
@using eComEngine.Application.Interfaces;
@using eComEngine.Application.Models;
@using eComEngine.Application.Models.Dto;

@inject IEmailTemplateService _templateService;

@code {
    private DataResponseDto dataResponse = new();
    private IEnumerable<EmailTemplate>? emailTemplates;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadEmailTemplates();
    }

    async Task LoadEmailTemplates(int page = 1, int quantityPerPage = 10, string sortBy = "el-asc", string searchBy = "")
    {        
        dataResponse = await _templateService.GetTemplatesAsync($"api/EmailTemplates/GetPaginatedList", 
                        new DataFilterDto
                        {
                            Pagination = new PaginationDto
                            {
                                Page = page, 
                                QuantityPerPage = 100
                            },
                            SortBy = sortBy,
                            SearchBy = searchBy
                        }
        );            

        if(dataResponse != null)
        {          
            emailTemplates = dataResponse.EmailTemplates;           
        }                 
    }  
}
<!-- #endregion-->

<!-- #region HTML -->
<PageTitle>Email Templates (GRID)</PageTitle>

<h2>Email Templates</h2>
<h4>This is another way to display the list of data. Many things can be added in here.</h4>

<IgbDataGrid Height="600px" DataSource="@emailTemplates">
    <IgbTextColumn Field="Id" IsHidden="true" />
    <IgbTextColumn Field="Subject" IsHidden="true" />
    <IgbTextColumn Field="TemplateText" IsHidden="true" />
    <IgbTextColumn Field="Active" IsHidden="true" />
    <IgbTextColumn Field="ParentId" IsHidden="true" />
    <IgbTextColumn Field="IsDefault" IsHidden="true" />
    <IgbTextColumn Field="IsDraft" IsHidden="true" />
    <IgbTextColumn Field="Versions" IsHidden="true" />
    <IgbTextColumn Field="LoadDrafts" IsHidden="true" />
    <IgbTextColumn Field="VersionCount" IsHidden="true" />
    <IgbTextColumn Field="BccAddress" IsHidden="true" />
    <IgbTextColumn Field="EmailType" IsHidden="true" />
</IgbDataGrid>

<!-- #endregion-->
