﻿@page "/"

<PageTitle>Home</PageTitle>

<h1>eComEngine Code Challenge - Email Templates Management</h1>
<h4>Welcome! This simple management tool is done through a Blazor server-side UI.</h4>
<hr/>
<h4>What is Blazor?</h4>
<h5>  
Blazor is a <b>Single Page Application</b> development framework. The name Blazor is a combination/mutation of the words Browser and Razor (the .NET HTML view generating engine). The implication being that instead of having to execute Razor views on the server in order to present HTML to the browser, Blazor is capable of executing these views on the client.

<br/><br/>
<a href="https://blazor-university.com/overview/what-is-blazor/">Click here to know more about Blazor.</a>
</h5>

